.video_content {
  border-radius: 8px;
}
.form_button {
  border-radius: 8px;
}

@media screen and (max-width: 1800px) {
  main,
  .rights_wrapper,
  .all_projects {
    max-width: 100%;
  }
  .footer_content-wrapper,
  .rights_wrapper,
  .dropdown_menu-wrapper,
  .dropdown_menu-social {
    max-width: 95%;
  }
  .nav_btn {
    padding: 0px;
  }
  .open_dropdown {
    height: auto;
  }
  .moto_section,
  .header_wrapper {
    margin: 0 auto;
  }
  .services_section,
  .parter_section,
  .testimonials,
  .team_story {
    max-width: 100%;
  }
  .home_slider {
    display: none;
    max-width: 95%;
  }
  .testimonial_members-item {
    max-width: 450px;
    width: 100%;
  }

  /* long read */
  .category_container_link {
    display: flex;
  }
  .presi .player_wrapper {
    width: 100%;
  }
  .project_item {
    padding: 15px 0px;
    max-width: 49%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    height: auto;
  }
}

@media screen and (max-width: 1620px) {
  /* home page */

  .mainpage_header {
    background-size: contain;
  }
  .player_wrapper {
    width: 66%;
    margin-right: 30px;
  }
  .video_content {
    width: 100%;
  }
  .members_wrapper {
    width: 34%;
  }
  .testimonial_members {
    width: 100%;
  }
  .team_stories-item {
    max-width: 31%;
  }
  .image_wrapper {
    max-width: 455px;
    background-size: cover;
    width: 100%;
  }
  .story_descr {
    padding-right: 40px;
    max-width: 380px;
    width: 100%;
  }
}

@media screen and (max-width: 1380px) {
  h1 {
    font-size: 6rem;
  }

  h2 {
    font-size: 3.25rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.3rem;
  }
  p {
    font-size: 1.9rem;
  }

  /* home page */

  .main_menu a {
    font-size: 56px;
  }
  .company_moto {
    margin-top: 160px;
    margin-bottom: 50px;
  }
  .service_list-item {
    height: 120px;
  }
  .service_description {
    font-size: 50px;
  }
  .service_list-item svg {
    height: 50px;
    width: 50px;
  }
  .services_section,
  .parter_section,
  .home_slider,
  .testimonials {
    margin-bottom: 160px;
  }
  .team_story-description {
    font-size: 50px;
  }

  .projet_header {
    font-size: 30px;
  }

  /* LongRead page */

  .presi_videoLong {
    height: 700px;
  }
  .readingSect_textWrapper {
    padding-right: 30px;
  }
  .reverse_to_oposite .readingSect_textWrapper {
    padding-right: 0px;
    padding-left: 30px;
  }

  /* projectPage */
  .presi_video {
    height: 700px;
  }

  /* projects */

  .project_filter {
    font-size: 52px;
  }
  .PJimage_wrapper {
    max-width: 45%;
  }
  .PJimage_wrapper img {
    max-width: 100%;
    max-height: 140px;
  }

  /* softwareDev */

  .software_tech {
    margin-bottom: 80px;
  }
  .software_tech-header {
    margin-bottom: 80px;
  }
  .software_tech-descrpt {
    width: 100%;
    max-width: 800px;
    margin-bottom: 80px;
  }

  /* about us */

  .littleAbout_us_wrapper {
    padding-right: 15px;
  }
  .about_us_image {
    max-width: 50%;
  }
  .about_us_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media screen and (max-width: 1200px) {
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 3.5rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.5rem;
  }
  footer {
    height: auto;
    padding-bottom: 40px;
  }

  .main_menu a {
    font-size: 50px;
  }
  .secodary_menu li {
    margin-bottom: 15px;
  }
  .secodary_menu a {
    font-size: 30px;
  }

  /* home page */

  .slick-track {
    display: flex;
    align-items: center;
  }
  .partner_logos-items img {
    max-width: 90%;
    margin: 0 auto;
  }
  .member_name {
    font-size: 30px;
  }
  .member_project {
    font-size: 30px;
  }
  .members_link {
    font-size: 30px;
  }
  .team_story-description {
    font-size: 40px;
  }
  .story_descr {
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 20px;
    font-size: 24px;
  }
  .arrow_wrapper {
    margin-left: 15px;
    margin-bottom: 20px;
  }
  .story_descr-wrapper {
    height: auto;
    min-height: 180px;
  }
  .group_wrapper {
    padding-top: 60px;
    margin-bottom: 60px;
  }
  .contacts_wrapper {
    height: auto;
    padding: 0px 15px;
  }
  .footer_section-header {
    line-height: 40px;
    font-size: 24px;
  }
  .services_section-item,
  .adress_details,
  .map_link {
    line-height: 40px;
    font-size: 24px;
  }
  .projet_header {
    font-size: 28px;
  }

  /* LongRead */

  .projectPage_subtitle {
    font-size: 50px;
  }
  .techno_item-descrpt {
    font-size: 24px;
  }
  .techno_item {
    max-width: 400px;
    width: 32%;
  }
  .presi_videoLong {
    height: 550px;
  }
  .iterface_group {
    padding: 50px 0;
    margin-bottom: 100px;
  }
  .imgWrap2:not(:last-child) {
    margin-right: 40px;
  }
  .imgWrap2:not(:last-child) img {
    max-width: 100%;
    object-fit: cover;
  }
  .single_Interface {
    margin-bottom: 50px;
    padding: 50px 0;
  }
  .readingSect_small_title {
    margin-bottom: 40px;
  }
  .readingSect_smallP {
    font-size: 24px;
    line-height: 36px;
  }
  .readingSect_md_title {
    margin-bottom: 50px;
  }

  /* projectPage */

  .presi_video {
    height: 500px;
  }
  .project_title {
    font-size: 32px;
    line-height: 40px;
  }
  .project_description {
    font-size: 28px;
    line-height: 38px;
  }

  /* projects */

  .projects_categories {
    margin-bottom: 80px;
  }
  .project_filter {
    font-size: 42px;
  }
  .PJimage_wrapper {
    max-width: 40%;
  }
  .PJimage_wrapper img {
    height: 140px;
    object-fit: contain;
    object-position: top;
  }

  /* about us page */

  .benefits_list_item p {
    margin-top: 24px;
  }
  .advantege_wrapper {
    max-width: 600px;
  }

  .faq_list_items {
    max-height: 80px;
    padding: 20px 0;
  }
  .faq_question {
    margin-bottom: 25px;
    font-size: 26px;
  }
  .faq_list_items.active {
    max-height: 600px;
  }
  .faq_answer {
    font-size: 24px;
  }

  /* contact us */

  .contact_form_description {
    font-size: 3rem;
  }
  .form_title {
    margin-bottom: 60px;
  }
  .contact_form input {
    margin-bottom: 40px;
    padding: 20px 0;
  }
  .form_button {
    padding: 30px 0;
  }
}
@media screen and (min-width: 992px) {
  .slick-list,
  .slick-track {
    width: 100% !important;
  }
  .slick-slide {
    display: flex !important;
    justify-content: center;
    align-items: center;
  }
  .slick-track {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media screen and (max-width: 991px) {
  h1 {
    font-size: 4.5rem;
  }
  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1.35rem;
  }
  footer {
    height: auto;
    padding-bottom: 40px;
  }

  .main_menu a {
    font-size: 46px;
  }
  .secodary_menu li {
    margin-bottom: 15px;
  }
  .secodary_menu a {
    font-size: 28px;
  }

  /* home page */
  .services_section,
  .parter_section,
  .home_slider,
  .testimonials {
    margin-bottom: 100px;
  }
  .about_us {
    font-size: 32px;
  }
  .service_description {
    font-size: 40px;
  }
  .service_list-item {
    height: 100px;
  }
  .slick-dots li {
    margin: 0 0px;
  }
  .slick-dots li {
    margin: 0 0px;
  }
  .slick-dots li button:before {
    opacity: 0.5;
    color: #ffffff;
    font-size: 8px;
  }
  .slick-dots li.slick-active button:before {
    opacity: 1;
    color: #ffffff;
  }
  .testimonial_wrapper {
    flex-direction: column;
  }
  .player_wrapper {
    width: 100%;
    margin-right: 0px;
  }
  .video_content {
    height: 400px;
    margin-right: 0px;
  }
  .testimonial_members {
    height: auto;
  }
  .members_wrapper {
    width: 100%;
    height: auto;
  }
  .testimonial_members-item:first-child {
    border-top: 0px;
  }
  .testimonial_members-item {
    max-width: 100%;
    padding-bottom: 25px;
  }
  .image_wrapper {
    height: 220px;
  }
  .story_image {
    width: 160px;
    height: 160px;
  }

  /*about us page*/

  .about_hero_descr {
    font-size: 3rem;
  }
  .benefits_list_item {
    max-height: 80px;
    padding: 20px 0;
  }
  .benefits_list_item.active {
    max-height: 600px;
  }
  .benefits_list_item h2 {
    margin-bottom: 25px;
    font-size: 26px;
  }
  .benefits_list_item p {
    font-size: 24px;
  }
  .ourTeam,
  .benefits {
    margin-bottom: 60px;
  }
  .geographical_advantage {
    margin-bottom: 100px;
  }
  .advantege_wrapper {
    max-width: 100%;
    width: 100%;
    margin-top: 50px;
  }
  .map_wrapper svg {
    height: 100%;
    width: 100%;
  }
  .littleAbout_us_wrapper {
    padding-right: 0px;
    padding-top: 0px;
    max-width: 100%;
    width: 100%;
    margin-bottom: 30px;
  }
  .littleAbout_us_wrapper p {
    font-size: 30px;
  }
  .littleAbout_us {
    margin-bottom: 60px;
    flex-wrap: wrap;
  }
  .about_us_image {
    max-width: 100%;
    width: 100%;
    height: 450px;
  }
  .faq_wrapper {
    padding: 30px 20px;
  }
  .faq_question {
    font-size: 23px;
  }
  .benefits_list_item h2::after,
  .faq_question:after {
    width: 20px;
    height: 16px;
    background-size: contain;
  }

  /* text Long Read */

  .projectPage_image_long {
    height: 350px;
  }
  .story_section {
    padding: 60px 0 0;
  }
  .story_sectcion_preStory {
    margin-bottom: 60px;
    font-size: 1.75rem;
    width: 100%;
  }
  .story_sectcion_wrapper {
    margin-bottom: 60px;
  }
  .story_sectcion_story {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  /* menu */

  .dropdown_menu-wrapper {
    flex-wrap: wrap;
  }
  .open_dropdown {
    padding: 130px 0 70px 0;
  }
  .main_menu {
    width: 100%;
    margin-bottom: 55px;
  }
  .secodary_menu {
    width: 100%;
    margin-bottom: 50px;
  }
  .secodary_menu li {
    margin-bottom: 0px;
  }
  .secodary_menu a {
    font-size: 28px;
    line-height: 42px;
  }

  /* footer */

  footer {
    padding-bottom: 50px;
  }
  .rights_wrapper {
    padding-top: 30px;
    flex-direction: column;
    align-items: center;
  }
  .rights_wrapper > span {
    order: 2;
  }
  .social_links {
    order: 1;
    margin-bottom: 50px;
  }

  .services_section,
  .parter_section,
  .home_slider,
  .testimonials {
    margin-bottom: 60px;
  }
  .mainpage_header {
    background-size: contain;
    min-height: auto;
    padding-bottom: 60px;
    padding-top: 30px;
  }
  .company_moto {
    margin-top: 60px;
    margin-bottom: 10px;
    font-size: 36px;
    line-height: 44px;
  }
  .about_us {
    font-size: 18px;
    line-height: 26px;
  }

  /* home page */

  .group_wrapper {
    flex-wrap: wrap;
  }
  .service_description {
    font-size: 28px;
    line-height: 36px;
    display: flex;
    align-items: center;
  }
  .parter_section {
    display: flex;
  }
  .testmonials_header {
    font-size: 28px;
    margin-bottom: 25px;
    line-height: 36px;
  }
  .video_content {
    height: 300px;
  }
  .services_wrapper {
    width: 100%;
    order: 2;
    margin-bottom: 25px;
  }
  .contact_wrapper1 {
    margin-bottom: 25px;
  }
  .contacts_wrapper {
    padding: 0px 0px;
    width: 100%;
    order: 3;
  }
  .projet_header {
    font-size: 28px;
    line-height: 36px;
  }
  .startProject_wrapper {
    width: 100%;
    height: auto;
    order: 1;
    margin-bottom: 70px;
  }
  .team_story {
    margin-bottom: 60px;
  }
  .team_story-header {
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 24px;
  }
  .team_story-description {
    font-size: 28px;
    line-height: 36px;
  }
  .team_stories {
    display: none;
  }
  .members_link {
    font-size: 16px;
    background: #191919;
    border-radius: 8px;
    border: none;
    line-height: 24px;
    color: rgb(255 255 255 / 50%);
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
    padding: 15px;
  }
  .services_section-item,
  .adress_details,
  .map_link {
    line-height: 28px;
    font-size: 18px;
  }
  .start_project-btn {
    padding-top: 20px;
    font-size: 18px;
    height: 70px;
    line-height: 28px;
  }

  /* projects page */
  main {
    padding-bottom: 0px;
  }
  .all_projects {
    max-width: 100%;
    padding-bottom: 45px;
  }
  .projects_categories {
    margin-bottom: 60px;
  }
  .project_filterItem:not(:last-child) {
    margin-right: 15px;
  }
  .project_filter {
    font-size: 28px;
    line-height: 36px;
  }
  .project_quantity {
    font-size: 14px;
  }
  .project_item {
    max-width: 100%;
    padding: 0px;
    margin-bottom: 15px;
    width: 100%;
  }
  .category_btn_wrapper {
    max-width: 100%;
    width: 100%;
    margin: 15px 15px 25px;
  }
  .PJimage_wrapper {
    max-width: 100%;
    width: 100%;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 20px;
  }
  .PJimage_wrapper img {
    height: 160px;
    max-height: 160px;
  }
  .project_info {
    margin: 15px;
    margin-top: 0px;
  }
  .project_title {
    font-size: 18px;
    line-height: 24px;
  }
  .project_description {
    font-size: 18px;
    line-height: 24px;
    min-height: auto;
  }

  /* SoftwareDev */

  .proj_header {
    margin-bottom: 90px;
    padding-top: 25px;
  }
  .software_tech {
    margin-bottom: 0px;
  }
  .software_tech-header {
    margin-bottom: 60px;
    font-size: 36px;
    line-height: 44px;
  }
  .software_tech-descrpt {
    margin-bottom: 60px;
    font-size: 22px;
    line-height: 30px;
  }
  .techno_item {
    width: 49%;
    margin-bottom: 60px;
  }
  .techno_item-title {
    font-size: 18px;
    line-height: 24px;
  }
  .techno_item-descrpt {
    font-size: 18px;
    line-height: 24px;
  }
  .software_dev-header {
    font-size: 36px;
    line-height: 44px;
  }
  .software_project_items {
    margin-bottom: 45px;
  }

  /* projectPage */

  .projPAge_header,
  .projPAge_header_long {
    min-height: auto;
    padding-bottom: 30px;
    padding-top: 25px;
  }
  .progetPage_title {
    font-size: 18px;
    line-height: 24px;
  }
  .projectPage_subtitle {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 15px;
  }
  .projectPage_image,
  .projectPage_image_long {
    max-width: 95%;
    margin-bottom: 20px;
    max-height: 250px;
    margin-top: 40px;
  }
  .projPAge_header .header_wrapper,
  .projPAge_header_long .header_wrapper {
    margin-top: 45px;
  }
  .project_desrpt {
    padding: 60px 0px;
  }
  .project_desrpt_text {
    margin-bottom: 60px;
    font-size: 21px;
    line-height: 30px;
  }
  .technoProj {
    flex-wrap: wrap;
    margin-bottom: 0px;
  }
  .presi_video,
  .presi_videoLong {
    height: 300px;
  }
  .presi {
    padding-bottom: 60px;
  }

  /* LongRead page */

  .readingSect_Wrp {
    flex-wrap: wrap;
  }
  .readingSect_textWrapper {
    padding-right: 0px;
    padding-bottom: 60px;
  }
  .readingSect_small_title {
    margin-bottom: 25px;
    font-size: 28px;
    line-height: 36px;
  }
  .readingSect_smallP {
    font-size: 21px;
    line-height: 30px;
  }
  .readingSect_smImgCont,
  .single_Interface {
    padding: 40px 20px;
  }
  .readingSect_Wrp {
    margin-bottom: 25px;
  }
  .iterface_group {
    padding: 15px 15px;
    margin-bottom: 60px;
  }
  .double_singleScreenWrapper {
    margin-bottom: 35px;
  }
  .readingSect {
    margin-bottom: 60px;
  }
  .imgWrap2:not(:last-child) {
    margin-right: 10px;
  }
  .screen {
    max-height: 150px;
  }
  .headingThree_content_wrapper {
    margin-bottom: 60px;
  }
  .readingSect_md_title {
    margin-bottom: 25px;
    font-size: 28px;
    line-height: 36px;
  }
  .headingThree_content_wrapper > p {
    font-size: 21px;
    line-height: 30px;
  }
  .imgWrap {
    max-height: 450px;
    text-align: center;
  }
  .imgWrap img {
    height: 100%;
  }
  .single_Interface {
    margin-bottom: 25px;
  }
  .relatedProj_title {
    font-size: 36px;
    line-height: 44px;
  }

  /*text long read*/

  .text_header_long {
    padding-bottom: 25px;
    padding-top: 25px;
  }
  .story_sectcion_preStory,
  .story_sectcion_story {
    font-size: 21px;
    line-height: 30px;
  }
  .story_sectcion_title {
    margin-bottom: 25px;
    font-size: 28px;
    line-height: 36px;
  }

  /* contact us page */

  .contact_form {
    padding: 60px 0;
  }
  .contact_form_title {
    margin-bottom: 60px;
    font-size: 36px;
    line-height: 44px;
  }
  .contact_form_description {
    font-size: 28px;
    line-height: 40px;
    width: 100%;
    margin-bottom: 60px;
  }
  form {
    padding: 15px;
  }
  .form_title {
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 36px;
  }
  .contact_form input {
    margin-bottom: 15px;
    padding: 15px 0;
    font-size: 21px;
    line-height: 30px;
  }
  .form_button {
    padding: 15px 0;
    margin-top: 20px;
    font-size: 18px;
    line-height: 24px;
  }

  /* about us */

  .about_hero_title {
    margin-top: 60px;
    margin-bottom: 60px;
    font-size: 36px;
    line-height: 44px;
  }
  .about_hero_descr {
    font-size: 28px;
    line-height: 40px;
    margin-bottom: 60px;
  }
  .LocationItem:before {
    width: 22px;
    height: 22px;
    margin-right: 3px;
    background-size: contain;
  }
  .hero_img_wrapper {
    margin-bottom: 60px;
  }
  .hero_img_wrapper {
    margin-bottom: 30px;
    height: 250px;
  }
  .hero_img_wrapper img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .benefits_title {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 25px;
  }
  .benefits_list_item h2 {
    font-size: 28px;
    line-height: 36px;
  }
  .benefits_list_item:last-child {
    border-bottom: none;
  }
  .ourTeam_title {
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 25px;
  }
  .ourTeam_list_item:not(:last-child) {
    margin-right: 15px;
  }
  .member_img_wrapper {
    margin-bottom: 25px;
  }
  .ourTeam_list_item:nth-child(-n + 2) .about_member_name:after {
    display: none;
  }
  .about_member_name {
    font-size: 18px;
    line-height: 24px;
  }
  .member_title {
    font-size: 18px;
    line-height: 24px;
  }
  .geographical_advantage {
    margin-bottom: 60px;
  }
  .advantege_wrapper {
    margin-top: 140px;
  }
  .advantege_wrapper_title {
    margin-bottom: 25px;
    max-width: 100%;
  }
  .advantege_wrapper_title {
    margin-bottom: 25px;
    max-width: 100%;
    font-size: 36px;
    line-height: 44px;
  }
  .advantege_wrapper_text {
    font-size: 21px;
    line-height: 30px;
  }
  .littleAbout_us {
    flex-direction: column-reverse;
  }
  .about_us_image {
    height: 400px;
    margin-bottom: 60px;
  }
  .littleAbout_us_title {
    margin-bottom: 25px;
    font-size: 36px;
    line-height: 44px;
  }
  .littleAbout_us_wrapper {
    margin-bottom: 0px;
  }
  .littleAbout_us_wrapper p {
    font-size: 21px;
    line-height: 30px;
  }
  .faq_section {
    margin-bottom: 60px;
  }
  .faq_title {
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 15px;
  }
  .faq_question {
    font-size: 18px;
    line-height: 24px;
  }
  .faq_list_items .faq_question {
    margin-bottom: 45px;
  }
  .faq_list_items.active .faq_question {
    margin-bottom: 20px;
  }
  .faq_answer {
    font-size: 16px;
    line-height: 24px;
  }
}

@media screen and (max-width: 576px) {
  .video_content {
    height: 240px;
  }
  .techno_item {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .ourTeam_list {
    flex-direction: column;
  }
  .ourTeam_list_item:not(:last-child) {
    margin-right: 0px;
  }
  .ourTeam_list_item:not(:last-child) {
    margin-bottom: 40px;
  }
  .member_img_wrapper {
    height: 290px;
  }
  .member_img_wrapper img {
    height: 100%;
    object-fit: cover;
  }
}
